<h1> Edit a Joke! </h1>

<form  method="POST" action= "/jokes/<%= @joke.id%>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
Title: <input type=text value= "<%= @joke.title %>" name="title">
Genre: <input type=text value= "<%= @joke.genre %>" name="genre">
Punchline: <input type=text value= "<%= @joke.punchline %>" name="punchline">
Characters: <input type=text value= "<%= @joke.characters %>" name="character">
Setting: <input type=text value= "<%= @joke.setting %>" name="setting">
<input type=submit>
<form>