Title: <%= @joke.title%><br>
Genre: <%= @joke.genre%><br>
Punchline: <%= @joke.punchline%><br>
Characters: <%= @joke.characters%><br>
Setting: <%= @joke.setting%><br> 


<% if @joke.user_id == session[:user_id] %>
<form method="POST" action="/jokes/<%=@joke.id%>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>

<br>

<a href="/jokes/<%=@joke.id%>/edit">Edit Joke</a></p>


<%end%>